# Excel Data
*.xlsx

# Python
.venv/
*.pyc

# Sublime Text
odintech.ksu_retention_simulator.sublime-project
odintech.ksu_retention_simulator.sublime-workspace

# VS Code
.vscode/

# R & Rstudio
*.Rhistory
*.RData
