[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
run_sim = "python server.py"

[dev-packages]
python-language-server = "*"
black = "==19.3b0"

[packages]
mesa = "*"
numpy = "*"
cytoolz = "*"
scipy = "*"
pandas = "*"

[requires]
python_version = "3.7"
